.input-wrapper {
    background-color: rgb(182, 182, 182);
    width: 15%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 30px;
}  


input {
    background-color: transparent;
    border: black;
    height: 100%;
    font-size: 1.25rem;
    width: 70%;
    margin-left: 5px;
    color: black;
}

input:focus {
    outline: none;
    color: rgb(0, 0, 0);
}

#search-icon {
    color: #e9a423;
}